<html ng-app="Clockwork" ng-csp="">
	<head>
		<link rel="stylesheet" type="text/css" href="vendor/assets/stylesheets/pretty-jason.css">
		<link rel="stylesheet" type="text/css" href="vendor/assets/stylesheets/jquery.resizableColumns.css">
		<link rel="stylesheet" type="text/css" href="vendor/assets/stylesheets/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="assets/stylesheets/panel.css">
		<script src="vendor/assets/javascripts/jquery-2.0.2.min.js"></script>
		<script src="vendor/assets/javascripts/stupidtable.min.js"></script>
		<script src="vendor/assets/javascripts/sugar-1.3.9.min.js"></script>
		<script src="vendor/assets/javascripts/URI.min.js"></script>
		<script src="vendor/assets/javascripts/keymaster.min.js"></script>
		<script src="vendor/assets/javascripts/angular.min.js"></script>
		<script src="vendor/assets/javascripts/pretty-jason.js"></script>
		<script src="vendor/assets/javascripts/jquery.resizableColumns.min.js"></script>
		<script src="assets/javascripts/app.js"></script>
		<script src="assets/javascripts/panel.js"></script>
		<script src="assets/javascripts/toolbar.js"></script>
	</head>
	<body>
		<div class="split-view" ng-controller='PanelController' ng-init="init()">
			<div class="split-view-contents split-view-contents-requests">
				<div class="data-grid data-grid-requests">
					<table class="header" id="requests-header" resizable-columns data-resizable-columns-sync="#requests">
						<thead>
							<tr>
								<th class='controller'>
									Path<br />
									<small>Controller</small>
								</th>
								<th class='method'>Method</th>
								<th class='status'>Status</th>
								<th class='duration'>
									Time<br />
									<small>Memory</small>
								</th>
							</tr>
						</thead>
					</table>
					<div class="data-container">
						<table id="requests" resizable-columns data-resizable-columns-sync="#requests-header">
							<tr class="sizing">
								<td class='controller'></td>
								<td class='method'></td>
								<td class='status'></td>
								<td class='duration'></td>
							</tr>
							<tr ng-repeat="request in requests" ng-click="setActive(request.id)" ng-class="getClass(request.id)" scroll-to-new>
								<td class='controller'>
									<span class="notificationsCount">
										<span class="logsCount" ng-show="request.logsCount">
											<i class="fa fa-info-circle"></i>
											{{request.logsCount}}
										</span>
										<span class="errorsCount" ng-show="request.errorsCount">
											<i class="fa fa-exclamation-circle"></i>
											{{request.errorsCount}}
										</span>
										<span class="warningsCount" ng-show="request.warningsCount">
											<i class="fa fa-exclamation-triangle"></i>
											{{request.warningsCount}}
										</span>
									</span>
									{{request.uri}}<br>
									<small ng-show="request.controller">{{request.controller}}</small>
								</td>
								<td class='method'>{{request.method}}</td>
								<td class='status' ng-class="(request.responseStatus >= 400) ? 'errorStatus' : ''">{{request.responseStatus}}</td>
								<td class='duration'>
									{{request.responseDuration|formatValue:this}} ms
									<small ng-show="request.memory"><br />{{request.memory|bytes}}</small>
								</td>
							</tr>
							<tr class="filler">
								<td class='controller'></td>
								<td class='method'></td>
								<td class='status'></td>
								<td class='duration'></td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<div class="split-view-contents split-view-contents-details">
				<div data-ui-tabs class="tabbed-pane">

					<div class="tabbed-pane-header">
						<div class="tabbed-pane-header-contents">
							<ul class="tabbed-pane-header-tabs">
								<li class="tabbed-pane-header-tab" ng-class="{'ui-tabs-active' : activeTab == 'request'}">
									<a href="#tab-request" class="tabbed-pane-header-tab-title" ng-click="setActiveTab('request')">Request</a>
								</li>
								<li class="tabbed-pane-header-tab" ng-class="{'ui-tabs-active' : activeTab == 'timeline'}" ng-show="activeTimeline.length">
									<a href="#tab-timeline" class="tabbed-pane-header-tab-title" ng-click="setActiveTab('timeline')">Timeline</a>
								</li>
								<li class="tabbed-pane-header-tab" ng-class="{'ui-tabs-active' : activeTab == 'log'}" ng-show="activeLog.length">
									<a href="#tab-log" class="tabbed-pane-header-tab-title" ng-click="setActiveTab('log')">Log</a>
								</li>
								<li class="tabbed-pane-header-tab" ng-repeat="(key, value) in activeData" ng-class="{'ui-tabs-active' : activeTab == key}">
									<a href="#tab-{{key}}" class="tabbed-pane-header-tab-title" ng-click="setActiveTab(key)">
										{{key}}
										({{getDataDuration(value, 0)}})
									</a>
								</li>

							</ul>
						</div>

						<div class="toolbar"></div>

					</div>

					<div class="tabbed-pane-content data-grid data-grid-details">

						<div id="tab-request" ng-show="activeTab == 'request'">
							<div ng-repeat="(type, data) in activeRequestData">
								<table>
									<thead>
										<tr>
											<th colspan="2">{{type|capitalize}}</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="(key, value) in data">
											<td class="key"><pre>{{key}}</pre></td>
											<td class="value"><pretty-print data="value"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div id="tab-log" ng-show="activeTab == 'log'">
							<table class="stupidtable" data-stupid-table id="log">
								<thead>
									<tr>
										<th data-sort="string">Time</th>
										<th data-sort="string">Level</th>
										<th data-sort="string">Message</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="message in activeLog">
										<td class="log-date">{{message.time | date:'HH:mm:ss.sss'}}</td>
										<td class="log-level">{{message.level}}</td>
										<td class="log-message"><pretty-print data="message.message"></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div id="tab-timeline" ng-show="activeTab == 'timeline'">
							<table id="timeline" class="timeline">
								<thead>
									<tr>
										<th class="timeline-graph">
											Timeline
											<span ng-repeat="item in activeTimelineLegend" class="timeline-bar-time" style="left:{{item.left}}px">{{item.time}} ms</span>
										</th>
										<th class="timeline-duration">Duration</th>
										<th class="timeline-description">Description</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="currentTimeline in activeTimeline">
										<td class="timeline-graph">
											<div ng-repeat="item in currentTimeline.line" class="timeline-bar {{item.style}}" style="width:{{item.width}}%;margin-left:{{item.left}}%;"></div>
										</td>
										<td class="timeline-duration">{{currentTimeline.duration|formatValue:this:0}} ms</td>
										<td class="timeline-description">{{currentTimeline.description}}</td>
									</tr>
								</tbody>
							</table>
						</div>

						<div ng-repeat="(title, data) in activeData" id="tab-{{title}}" ng-show="activeTab == title">

							<div ng-repeat="(sectionTitle, section) in data">

								<div class="section-heading">
									{{sectionTitle}}
									<span>x{{section.length}}</span>
									<span>{{getSectionDuration(section)}}</span>
								</div>

								<table class="stupidtable" data-stupid-table>
									<thead >
										<th data-sort="{{getSortType(value)}}" ng-repeat="(key, value) in section[0]">{{key|capitalize}}</th>
									</thead>
									<tbody>
										<tr ng-repeat="(key, sectionDetail) in section">
											<td ng-repeat="(sectionKey, sectionValue) in sectionDetail">
												<pre>{{sectionValue|formatValue:this}}</pre>
											</td>
										</tr>
									</tbody>
								</table>

							</div>

						</div>

					</div>
				</div>
			</div>
		</div>
	</body>
</html>
