* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

th, td {
	text-align: left;
}

.toolbar {
	align-items: center;
	display: flex;
	padding: 2px 4px;
	text-align: right;
}

.toolbar a {
	color: rgb(105, 105, 105);
	cursor: default;
	font-size: 15px;
	padding: 0 5px;
}

.toolbar a:hover {
	color: rgb(59, 59, 59);
}

.split-view {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
}

.split-view-contents {
	bottom: 0;
	cursor: default;
	overflow: auto;
	position: absolute;
	top: 0;
}

@media screen and (max-width: 900px) {
	.split-view-contents-requests {
		bottom: 50%;
		width: 100%;
	}

	.split-view-contents-details {
		top: 50%;
		width: 100%;
	}
}

@media screen and (min-width: 900px) {
	.split-view-contents-requests {
		width: 480px;
	}

	.split-view-contents-details {
		left: 480px;
		right: 0;
		width: auto;
	}
}

.data-grid {
	border: none;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.data-grid table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 11px;
	table-layout: fixed;
	width: 100%;
}

.data-grid th {
	border-bottom: 1px solid rgb(209, 209, 209);
	border-right: 1px solid rgb(209, 209, 209);
	height: 30px;
	padding: 2px 4px;
	white-space: nowrap;
}

.data-grid td {
	border-right: 1px solid rgb(209, 209, 209);
	overflow: hidden;
	padding: 8px 6px;
	vertical-align: middle;
	white-space: nowrap;
}

.data-grid tr:first-child td {
	border-top: 1px solid rgb(209, 209, 209);
}

/* requests list */

.data-container {
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: overlay;
	position: absolute;
	right: 0;
	top: 30px;
}

.data-container table {
	height: 100%;
}

.data-container tr {
	height: 28px;
}

.data-container tr.sizing {
	height: 0;
}

.data-container tr.sizing td {
	padding: 0;
}

.data-container tr.filler {
	display: table-row !important;
	height: auto !important;
}

.data-container tr.filler td {
	padding: 0;
}

.data-grid-requests {
	cursor: pointer;
}

.data-grid-requests table {
	line-height: 1.4;
}

.data-grid-requests th {
	font-weight: normal;
	line-height: 1.1;
	overflow: hidden;
}

.data-grid-requests small {
	color: rgb(128, 128, 128);
	font-size: 100%;
}

.data-grid-requests .selected td {
	background: rgb(39, 134, 243) !important;
	color: white;
}

.data-grid-requests .selected td small {
	color: white;
}

.data-grid-requests .method,
.data-grid-requests .format,
.data-grid-requests .status {
	text-align: center;
	width: 50px;
}

.data-grid-requests .duration {
	width: 80px;
}

.data-grid-requests td.duration {
	text-align: right;
}

.data-grid-requests td.method,
.data-grid-requests td.format,
.data-grid-requests td.status,
.data-grid-requests td.duration {
	background: rgb(237, 237, 237);
}

.data-grid-requests tr:nth-child(even):not(.filler) {
	background: rgb(243, 243, 243);
}

.data-grid-requests tr:nth-child(even) td.method,
.data-grid-requests tr:nth-child(even) td.format,
.data-grid-requests tr:nth-child(even) td.status,
.data-grid-requests tr:nth-child(even) td.duration {
	background: rgb(225, 225, 225);
}

.data-grid-requests .notificationsCount {
    background: rgba(255, 255, 255, 0.8);
	float: right;
    height: 100%;
    letter-spacing: -0.5px;
    line-height: 29px;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    right: -4px;
}

.data-grid-requests tr:nth-child(even) .notificationsCount {
	background: rgba(243, 243, 243, 0.8);
}

.data-grid-requests .selected .notificationsCount {
	background: rgb(39, 134, 243) !important;
}

.data-grid-requests .notificationsCount .errorsCount i {
	color: rgb(179, 73, 46);
	margin-left: 2px;
}

.data-grid-requests .selected .notificationsCount .errorsCount i {
	color: #fff;
}

.data-grid-requests .notificationsCount .warningsCount i {
	color: rgb(244, 189, 0);
	margin-left: 2px;
}

.data-grid-requests .selected .notificationsCount .warningsCount i {
	color: #fff;
}

/* request details */

.tabbed-pane {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	box-orient: vertical;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;
	height: 100%;
	width: 100%;
}

.tabbed-pane-header {
	background: #fff;
	border-bottom: 1px solid rgb(204, 204, 204);
	display: flex;
	height: 31px;
	white-space: nowrap;
}

.tabbed-pane-header-contents {
	flex: 1;
}

.tabbed-pane-header-tabs {
	display: flex;
	margin: 0;
	min-width: 300px;
	padding: 0;
}

.tabbed-pane-header-tab {
	flex: 1;
	float: left;
	font-size: 12px;
	height: 100%;
	line-height: 31px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
}

.tabbed-pane-header-tab-title {
	color: rgb(64, 64, 64);
	display: block;
	min-width: 40px;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

.tabbed-pane-header-tab.active .tabbed-pane-header-tab-title {
	color: rgb(37, 140, 219);
}

.tabbed-pane-header-tab, .tabbed-pane-header-tab a, .tabbed-pane-header-tab a:active {
	outline: none;
}

.tabbed-pane-content {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	overflow: auto;
	padding: 10px;
	position: relative;
}

.data-grid-details table {
	font-size: 12px;
	margin-bottom: 18px;
	table-layout: auto;
}

.data-grid-details table tr:nth-child(even) {
	background: rgb(245, 245, 245);
}

.data-grid-details th {
	border-bottom: none;
	border-right: none;
	font-size: 13px;
	font-weight: 600;
	height: 18px;
	padding: 4px 10px;
	white-space: nowrap;
}

.data-grid-details td {
	border-right: none;
	height: auto;
	line-height: 16px;
	vertical-align: top;
	padding: 8px 10px;
	white-space: normal;
}

.data-grid-details td.value {
	word-break: break-all;
}

.data-grid-details th:last-child,
.data-grid-details td:last-child {
	border-right: none;
}

.data-grid-details .key {
	font-size: 12px;
	white-space: nowrap;
}

.counters-row {
	display: flex;
	margin: 10px 0 15px;
}

.counters-row .counter {
	border: 1px solid rgb(209, 209, 209);
	border-radius: 3px;
	box-shadow: 0 2px 3px #e5e5e5;
	margin: 0 5px;
	flex: 1;
	padding: 20px;
	text-align: center;
}

.counters-row .counter:first-child {
	margin-left: 0;
}

.counters-row .counter:last-child {
	margin-right: 0;
}

.counters-row .counter .counter-value {
	font-size: 200%;
}

.counters-row .counter .counter-title {
	font-size: 125%;
	font-variant: small-caps;
}

/* request details - request */

#request table {
	margin-bottom: 24px;
}

/* request details - timeline */

.timeline-graph {
	background-image: -webkit-linear-gradient(left, transparent 99.5%, #e5e5e5 99.5%, #e5e5e5 100%);
	background-image: -moz-linear-gradient(left, transparent 99.5%, #e5e5e5 99.5%, #e5e5e5 100%);
	background-image: -o-linear-gradient(left, transparent 99.5%, #e5e5e5 99.5%, #e5e5e5 100%);
	background-image: linear-gradient(to right, transparent 99.5%, #e5e5e5 99.5%, #e5e5e5 100%);
	background-size: 80px 1px;
}

.timeline-graph .style1 {
	background: rgb(120, 177, 222);
	border: 1px solid rgb(66, 149, 197);
}

.timeline-graph .style2 {
	background: rgb(231, 150, 151);
	border: 1px solid rgb(209, 107, 108);
}

.timeline-graph .style3 {
	background: rgb(177, 202, 109);
	border: 1px solid rgb(152, 186, 81);
}

.timeline-graph .style4 {
	background: rgb(186, 148, 230);
	border: 1px solid rgb(151, 114, 181);
}

.timeline-bar {
	background: rgb(120, 177, 222);
	border: 1px solid rgb(66, 149, 197);
	border-radius: 3px;
	display: inline-block;
	height: 12px;
	margin-top: 2px;
	padding: 3px;
}

.timeline-bar-time {
	font-size: 11px;
	font-weight: normal;
	position: absolute;
}

.timeline-description {
	width: 160px;
}

.timeline-duration {
	text-align: right;
	width: 70px;
}

/* request details - log */

.log-date, .log-level {
	width: 70px;
}

.log-message {
	display: flex;
	flex-wrap: wrap;
}

.log-message-content {
	flex: 1 0 auto;
	max-width: 100%;
}

.log-message-path {
	color: #aaa;
	flex: 0;
	font-size: 90%;
	margin-top: 3px;
}

/* request details - database */

.database-query {
	display: flex;
	flex-wrap: wrap;
}

.database-query-content {
	flex: 1 0 auto;
	max-width: 100%;
}

.database-query-path {
	color: #aaa;
	flex: 0;
	font-size: 90%;
	margin-top: 3px;
}

.database-duration {
	text-align: right;
}

.number-of-queries {
	font-size: 11px;
	padding: 7px 0 0 5px;
	font-weight: bold;
}

[stupid-table] th {
	cursor: pointer;
}

[tab-content] {
	display: none;
}

/* request details - cache */

.queue-query-type {
	font-size: 125%;
	font-variant: small-caps;
}
